<section class="pattern">
    <h2>Congratulations!</h2>
    <p>Here's your pattern. Get knittin'!</p>
    <div class="pattern-container">
        <% row_number = 1 %>
        <% results.each do |row| %>
        <p class="row">
            <input type="checkbox" class="row-checkbox" id="row-complete-<%= row_number %>" data-row="<%= row_number %>" />
            <label for="row-complete-<%= row_number %>"></label>
            <span class="row-number">Row <%= row_number %>:</span>
            <% row.each do |group| %>
            <span class="stitch"><%= group[:stitch] %> <%= group[:stitch_count] %></span>
            <% end %>
        </p>
        <% row_number += 1 %>
        <% end %>
    </div>
    <a href="/" class="button">Generate a new pattern</a>
</section>
